body{
    background-color: #3B3B3B;
}

header{
    background-image: url(/images/main-image-background.png);
    height: 100vh;
}

.container{
    margin: 0 120px;
}

.block-of-logo-and-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.nav-link{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    margin-left: 80px;

}

.nav-link:hover{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-decoration: underline;
    margin-left:  80px;
    text-underline-offset: 20px;
}

.market-desc{
    float: right;
    margin: 100px ;
    text-align: center;
}

.header-title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-desc{
    color: rgba(255, 255, 255, 0.77);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    margin:0 0 0 100px;
}

.header-button{
    border-radius: 25px;
    background: rgba(235, 235, 235, 0.60);
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 32px 64px;
    margin-top: 45px;
    border: none;
    
}

.header-button:hover{
    border-radius: 25px;
    background: rgba(235, 235, 235, 0.60);
    color: #c5c5c5;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 32px 64px;
    margin-top: 45px;
    border: none;
}

.product-list-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list-elem{
    width: 400px;
    height: 350px;
    margin: 50px ;
    background-color: #FFF;
    border-radius: 30px;
}

.product-list-elem img{
    width: 400px;
}

.product-list-elem-desc{
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

footer{
    background-color: #EBEBEB;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-link{
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.footer-link:hover{
    text-decoration: none;
    color: #9e9e9e;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.footer-leftside{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.other-sources-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}

.other-source{
    height: 64px;
}

.footer-logo{
    height: 150px;
}
